@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500,700');


body {
    background: url(../images/heroes.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    

}

/*
container{
        display:inline;
}
*/

h2{
    color: darkorange;
}
